@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('./spinner.css');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
}